@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: #f6f6f6;
}

img{
    width: 400px ;
    height: 550 px;
    border-radius: 15px;
    padding: 5px;
    margin-left: 40px;
}

.apresentacao{
    margin: 20% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px
    ;
}

.apresentacao__conteudo__titulo{
    font-family: "Krona One",serif;
    font-size: 36px;
}

.apresentacao__conteudo__texto{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}

.titulo-destaque{
    color: #22d4fd;
}

.apresentacao__conteudo__links{
    display: flex;
    justify-content: space-between;
}

.apresentacao__conteudo__links__botao{
    background-color: #22d4fd;
    width: 200px;
    text-decoration: none;
    text-align: center;
    border-radius: 16px;
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 600px;
    padding: 21.5px 0 ; 
}